.chat-main
  .mein-header
    .mein-header__left
      = @group.name
      .mein-header__left__group
        Member :
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group),class: "mein-header__edit-btn" do
      Edit
  .message
    = render @messages
  .form
    .main-form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main-form__txit', placeholder: 'type a message'
        .input-box
          = f.label :image, class: 'input-box__image' do
            = icon('far', 'image', class: 'icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit__btn'
